@import "tailwindcss";

@layer base {
  body {
    /* Светлый фон, темный текст */
    @apply bg-slate-50 text-slate-800 antialiased font-sans;
  }
}

/* Скроллбар делаем более аккуратным */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400; 
}